

.header{
    padding-top: 18px;
    padding-bottom: 18px;
    
}
nav{
    display: flex;
    align-items: center; 
    a{
        img{
            width: 340px;
            height: auto;
        }
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        padding: 18px 0 18px 128px;
        li{
            font-family: 'Anton', sans-serif;
            display: flex;
            
            a{
                text-decoration: none;
                color: #801626;
                font-size: 1.5rem;
            }
        }
    }
}
@media only screen and (max-width: 420px) {
    nav{
        flex-direction: column;
        align-items: center;
        a{
            margin-bottom: 15px;
            img{
                width: 192px;
                height: auto;
            }
        }
        ul{
            gap: 15px;
            padding: 15px 0;
            li{
                a{
                    font-size: 1rem;
                }
            }
        }
    }
    .header-mobile{
        padding-top: 24px;
    }
}
/* Media query pour afficher le header mobile sur les écrans de 420px ou moins */
@media only screen and (max-width: 420px) {
    .header {
        display: none; /* Masquer le header desktop sur mobile */
    }

    

    
}
/* Media query pour afficher le header desktop sur les écrans de plus de 420px */
@media (min-width: 420px) {
    .header {
        display: flex; /* Afficher le header desktop */
    }

    .header-mobile {
        display: none; /* Masquer le header mobile */
    }

}